<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Гражданское дело</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/new_form.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--uiSelect-->
    <link rel="stylesheet" href="css/ui-select/select2.css">
    <link rel="stylesheet" href="css/ui-select/selectize.default.css">
    <link rel="stylesheet" href="css/ui-select/select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--uiSelect-->

    <script src="Scripts/angular.min.js"></script>
<!--    <script src="Scripts/ui-bootstrap.js"></script>-->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>
    <script src="controllers/index.js"></script>
    <script src="controllers/new_form.js"></script>
    <script src="controllers/civil.js"></script>
    <script src="Scripts/jquery-2.2.1.js"></script>

    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/angular-route.js"></script>

    <!--uiSelect-->
    <script src="Scripts/ui-select/select.min.js"></script>
    <!--uiSelect-->


    <!--FileSaver-->
    <script src="Scripts/FileSaver.js"></script>


    <!--    <script src="js/yandexMetrics.js"></script>-->
    <script>
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53897173, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });

    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/53897173" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>

    <script src="Scripts/zingchart.min.js"></script>


</head>
<body ng-controller="newFormCtrl">


<div class="container-fluid civil">
    <div class="row">
        <h2 class="text-center title" style="display: none;">ПРОВЕРКА ПРИГОВОРА</h2>
        <div class="formCivil">
            <form name="formName">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 text-center" style="padding: 8px; ">
                            <img src="img/logo.png" alt="logo" style="width: 120px">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Номер гражданского дела</label>
                            <input ng-model="item.case_number" type="text" class="form-control"
                                   placeholder="Номер дела">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>От</label>
                            <input class="form-control" data-format="dd.MM.yyyy" ng-model="dateModel.date_from"
                                   type="date">
                        </div>

                        <div class="col-sm-6">
                            <label>До</label>
                            <input class="form-control" data-format="dd.MM.yyyy" ng-model="dateModel.date_to"
                                   type="date">
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <label class="control-label">Категория дела</label><br>

                            <ui-select tagging tagging-label="('new')" ng-model="item.case_category" theme="bootstrap">
                                <ui-select-match placeholder="Выберите категорию...">
                                    <span>{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="cat in caseCategories.result | filter: $select.search">
                                    <div ng-bind-html="cat.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Cуд</label><br>

                            <ui-select tagging tagging-label="('new')" ng-model="item.court" theme="bootstrap">
                                <ui-select-match placeholder="Выберите суд..."><span>{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="court in courts.result | filter: $select.search">
                                    <div ng-bind-html="court.name"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label">Результат рассмотрения</label><br>
                            <ui-select tagging tagging-label="('new')" ng-model="item.review_result" theme="bootstrap">
                                <ui-select-match placeholder="Выберите результат...">
                                    <span>{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="court in reviewResults.result | filter: $select.search">
                                    <div ng-bind-html="court.name"></div>
                                </ui-select-choices>
                            </ui-select>

                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Судья</label>
                            <input ng-model="item.judge" type="text" class="form-control">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label">Истец</label>
                            <input ng-model="item.plaintiffs" type="text" class="form-control">

                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Ответчик</label>
                            <input ng-model="item.defendants" type="text" class="form-control">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Текст решения содержит</label>
                            <input ng-model="item.result_text_has" type="text" class="form-control"
                                   placeholder="введеный текст через пробел">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="radio">
                                <label><input ng-model="item.phrase_rule_type" value="1" type="radio" name="optradio"
                                              checked>любое
                                    из перечисленных слов</label>
                            </div>
                            <div class="radio">
                                <label><input ng-model="item.phrase_rule_type" value="2" type="radio" name="optradio">все
                                    перечисленные слова</label>
                            </div>
                            <div class="radio">
                                <label><input ng-model="item.phrase_rule_type" value="3" type="radio" name="optradio">полностью
                                    фразу</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Текст решения не должен содержать слова</label>
                            <input ng-model="item.result_text_not_has" type="text" class="form-control"
                                   placeholder="отрицательные слова">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button ng-disabled="!item" style="margin-top: 10px"
                                    ng-click="sendResultCivil(item, dateModel)"
                                    class="btn btn-lg btn-primary">
                                Найти
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/ng-template" id="myModalCivil.html">

    <div class="modal-content modal-xl">
        <div class="modal-header">
            <button style="margin: 6px" type="button" class="close" ng-click="cancel()"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Результат анализа</h4>

        </div>

        <div class="modal-body">

            <!-- Preloader -->
            <div ng-show="loader" id="Load" class="load">
                <div class="load__container">
                    <div class="load__animation"></div>
                    <div class="load__mask"></div>
                    <span class="load__title">Carregando...</span>
                </div>
            </div>

            <div style="margin-bottom: 0" ng-if="tableData.error_message" class="alert alert-danger" role="alert">
                {{tableData.error_message}}
            </div>

            <table ng-if="tableData.result" class="table">
                <thead style="background: cadetblue" class="thead-dark">
                <tr>
                    <th>Номер дела</th>
                    <th>Наименование суда</th>
                    <th>Результат рассмотрения</th>
                    <th>Истец</th>
                    <th>Ответчик</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in filtered = (tableData.result | limitTo: itemsPerPage: itemsPerPage*(page-1))">
                    <td>
                        <div>
                            <a href="https://api.zandylyq.kz/v1/civil/document/{{item.doc_id}}" style="cursor: pointer">{{item.case_number}}</a>
                        </div>
                    </td>
                    <td>{{item.court_name}}</td>
                    <td>{{item.review_result}}</td>
                    <td>{{item.plaintiffs}}</td>
                    <td>{{item.defendants}}</td>
                </tr>
                </tbody>
            </table>


            <uib-pagination class="pagination-sm pagination" total-items="tableData.result.length" ng-model="page"
                            ng-change="pageChanged()" previous-text="&lsaquo;" max-size="3" boundary-link-numbers="true"
                            num-pages="numPages" next-text="&rsaquo;" items-per-page="itemsPerPage"></uib-pagination>


        </div>
        <br>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="cancel()">Закрыть</button>
        </div>

    </div>

</script>


<script src="js/input.js"></script>
<script src="js/inputFile.js"></script>
<script src="js/filterable.js"></script>
<script src="js/getYandexMetric.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>
</html>
